<!DOCTYPE html>
<html dir="ltr" lang="ru"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"><head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="colorbox.css">
    <link href="fonts.css" rel="stylesheet" type="text/css">
</head>
<style>

    /* Боковое навигационное меню */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 ширина - изменить это с помощью JavaScript */
        position: fixed; /* Оставайтесь на месте */
        z-index: 1; /* Оставайтесь сверху */
        top: 0; /* Оставайтесь наверху */
        left: 0;
        background-color: #111; /* Фон черный*/
        overflow-x: hidden; /* Отключить горизонтальную прокрутку */
        padding-top: 60px; /* Поместите контент в 60px сверху */
        transition: 0.5s; /* 0.5 второй эффект перехода слайда в боковой навигации */
    }

    /* Ссылки меню навигации */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    /* Когда вы наводите курсор мыши на навигационные ссылки, изменяется их цвет */
    .sidenav a:hover {
        color: #f1f1f1;
    }

    /* Положение и стиль кнопки закрытия (верхний правый угол) */
    .sidenav .closebtn {
        position: absolute;
        top: 50px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: white;
    }

    /* На экранах меньшего размера, где высота меньше 450px, измените стиль sidenav (меньше отступов и меньший размер шрифта) */
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
    .name{
        color: white;
        font-size: 18px;
    }
    .name span{
        color: red;
    }
    .acNumber{
        color: white;
        font-size: 18px;
    }
    .acNumber span{
        margin-left: 5px;
    }

    .userSpan{
        display: none;
    }

</style>

<body>

<div class="wrap">
    <!-- top panel -->
    <div class="navbar navbar-inverse navbar-fixed-top topbar">
        <div class="container">

            <!-- cart -->
            <div id="cart">
                <div class="heading">
                    <a href="/shopping-cart" title="Корзина">
                           <span id="cart-total">
                               <i class="fa fa-shopping-cart fa-lg"></i>&nbsp;
                               <span id="countAndSum" class="hidden-xs"> </span>
                           </span>
                    </a>
                </div>
            </div>

            <div class="divider"></div>
            <!-- menu -->
            <div id="menu" class="menu-container">

                <div class="collapse menu-collapse" id="menu-mobile">
                    <ul class="nav nav-pills">
                        <li><a onclick="searchByType('Завтрак')">Завтраки</a></li>
                        <li><a onclick="searchByType('Обед')">Обеды</a></li>
                        <li><a onclick="searchByType('Ужин')">Ужины</a></li>
                        <li><a onclick="searchByType('Десерт')">Десерты</a></li>

                    </ul>
                </div>
            </div>
            <div class="divider hidden-sm hidden-xs"></div>

        </div>
    </div>
    <!-- //top panel -->

    <!-- header -->
    <div class="header">
        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="social hidden-xs">
                        <a title="Instagram">
                            <span class="fa fa-instagram"></span>
                        </a>
                        <a title="Twitter">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a title="Vkontakte">
                            <span class="fa fa-vk"></span>
                        </a>
                        <a title="YouTube">
                            <span class="fa fa-youtube"></span>
                        </a>
                    </div>

                    <div class="header-left">
                        <div id="address">
                            <p><strong>График работы:</strong></p>
                            <p>пн-пт <strong>10:00 - 18:00</strong>, сб-вс <strong>9:00 - 19:00</strong></p>
                        </div>
                        <div id="phone"><span>(29)</span> 234-34-34</div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div id="logo">
                        <a href="/"><img src="shop.jpg" width="150" height="150"></a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div id="search">
                        <div class="input-group">
                            <input type="text" id="search_field" class="form-control" placeholder="Search" value="">
                            <span class="input-group-btn">
                                    <button onclick="searchByName()" class="btn btn-default button-search" type="submit">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </span>
                        </div>
                    </div>

                    <div class="header-right">
                        <div sec:authorize="!isAuthenticated()" id="welcome">
                            Добро пожаловать, покупатель, ты можешь <a href="/login">войти</a> или <a href="/registration">зарегистрироваться</a>.
                        </div>
                        <div sec:authorize="isAuthenticated()" id="poka">
                            Вы уже авторизированы. Нажмите <a th:href="@{/logout}">Выйти</a>, чтобы зайти с другого аккаунта.
                        </div>

                        <div class="links">
                            <a sec:authorize="isAuthenticated()" id="link-cart" href="/shopping-cart">
                                <i class="fa fa-shopping-cart"></i> Корзина
                            </a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //header -->



<div sec:authorize="isAuthenticated()" id="mySidenav" class="sidenav">

</div>
<div id="container" class="content">
<div class="container">
<div id="content">
    <div class="box">

        <ul id="product-tabs-0" class="nav nav-tabs">
            <li class="active">
                <a href="#product-tab-0-featured" data-toggle="tab">
                    <span>Популярное</span>
                </a>
            </li>
        </ul>

    <ul id="productList" class="products clearfix">

    </ul>
</div>
</div>
</div>
</div>

<!-- footer -->
<div id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="column">
                    <h4>Информация</h4>
                    <ul>
                        <li><a href="/about-us">О нас</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-3 text-right">
                <div id="powered">
                    <a>Create by Vika</a>
                    <br>
                    Shop © 2020
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //footer -->
</div>



<ul id="userInfo" >

</ul>



<span class="userSpan" id="usernameAuth" th:text="${#authentication.getName()}"></span>

    <script>
        /* Установите ширину боковой навигации до 250 пикселей */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            infoAboutUser();
        }

        /* Установите ширину боковой навигации на 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    function searchByName() {
        var name = document.getElementById("search_field").value;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var products = JSON.parse(this.responseText);
                var html= '';
                for (var i = 0; i < products.length; i++) {
                    var product = products[i];
                    console.log(product);
                    html = html + '<div class="box-content tab-content" id="product-slideshow0">\n' +
                        '     <div class="box-product product-grid tab-pane fade in active" id="product-tab-0-featured">\n' +
                        '   <!-- Begin box-product div -->\n' +
                        '            <div class="item">\n' +
                        '                <div class="image">\n' +
                        '                    <a href="">\n' +
                        '                        <img src="' + product.path + '" width="240" height="240">\n' +
                        '                    </a>\n' +
                        '                </div>\n' +
                        '                <div class="caption">\n' +
                        '                    <div class="name">\n' +
                        '                        <a href="">' + product.name + '</a>\n' +
                        '                    </div>\n' +
                        '                    <div class="price">\n' +
                        '                        <div>\n' +
                        '                            <span class="price-fixed">' + product.cost + 'р</span>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                    <div class="cart">\n' +
                        '                        <button sec:authorize="isAuthenticated()" onclick="saveToBucket(' + product.id + ')" type="button" class="btn btn-success">\n' +
                        '                            <i class="fa fa-shopping-cart"></i> <span>Добавить в корзину</span>\n' +
                        '                        </button>\n' +
                        '                    </div></div></div>\n' +
                        '</div>\n' +
                        ' </div>\n' +
                        '</div>\n' +
                        '   </div>\n';
                }

                document.getElementById("productList").innerHTML = html;
            }
        };
        xhttp.open("GET", "http://localhost:8080/products/search?name=" + name, true);
        xhttp.send();
    }

        function searchByType(type) {
            // var name = document.getElementById("search_field").value;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var products = JSON.parse(this.responseText);
                    var html= '';
                    for (var i = 0; i < products.length; i++) {
                        var product = products[i];
                        console.log(product);
                        html = html + '<div class="box-content tab-content" id="product-slideshow0">\n' +
                            '     <div class="box-product product-grid tab-pane fade in active" id="product-tab-0-featured">\n' +
                            '   <!-- Begin box-product div -->\n' +
                            '            <div class="item">\n' +
                            '                <div class="image">\n' +
                            '                    <a href="">\n' +
                            '                        <img src="' + product.path + '" width="240" height="240">\n' +
                            '                    </a>\n' +
                            '                </div>\n' +
                            '                <div class="caption">\n' +
                            '                    <div class="name">\n' +
                            '                        <a href="">' + product.name + '</a>\n' +
                            '                    </div>\n' +
                            '                    <div class="price">\n' +
                            '                        <div>\n' +
                            '                            <span class="price-fixed">' + product.cost + 'р</span>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                    <div class="cart">\n' +
                            '                        <button sec:authorize="isAuthenticated()" onclick="saveToBucket(' + product.id + ')" type="button" class="btn btn-success">\n' +
                            '                            <i class="fa fa-shopping-cart"></i> <span>Добавить в корзину</span>\n' +
                            '                        </button>\n' +
                            '                    </div></div></div>\n' +
                            '</div>\n' +
                            ' </div>\n' +
                            '</div>\n' +
                            '   </div>\n';
                    }

                    document.getElementById("productList").innerHTML = html;
                }
            };
            xhttp.open("GET", "http://localhost:8080/products/getByType?type=" + type, true);
            xhttp.send();
        }

    function loadProducts() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var products = JSON.parse(this.responseText);
                var html= '';
                for (var i = 0; i < products.length; i++) {
                    var product = products[i];
                    console.log(product);
                    html = html + '<div class="box-content tab-content" id="product-slideshow0">\n' +
                        '     <div class="box-product product-grid tab-pane fade in active" id="product-tab-0-featured">\n' +
                        '   <!-- Begin box-product div -->\n' +
                        '            <div class="item">\n' +
                        '                <div class="image">\n' +
                        '                    <a href="">\n' +
                        '                        <img src="' + product.path + '" width="240" height="240">\n' +
                        '                    </a>\n' +
                        '                </div>\n' +
                        '                <div class="caption">\n' +
                        '                    <div class="name">\n' +
                        '                        <a  href="">' + product.name + '</a>\n' +
                        '                    </div>\n' +
                        '                    <div class="price">\n' +
                        '                        <div>\n' +
                        '                            <span class="price-fixed">' + product.cost + 'р</span>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                    <div class="cart">\n' +
                        '                        <button sec:authorize="isAuthenticated()" onclick="saveToBucket(' + product.id + ')" type="button" class="btn btn-success">\n' +
                        '                            <i class="fa fa-shopping-cart"></i> <span>Добавить в корзину</span>\n' +
                        '                        </button>\n' +
                        '                    </div></div></div>\n' +
                        '</div>\n' +
                        ' </div>\n' +
                        '</div>\n' +
                    '   </div>\n';
                }
                document.getElementById("productList").innerHTML = html;
            }
        };
        xhttp.open("GET", "http://localhost:8080/products/findAll", true);
        xhttp.send();
    }


    function infoAboutUser() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var user = JSON.parse(this.responseText);
                var html =
                    '<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>\n ' +
                    '<p class="name">Ваше имя: <span id="username">'+user.username+'</span></p>\n' +
                    '    <p class="acNumber">Номер счета: <span><br>'+user.accountNumber+'</span></p>\n' +
                    '    <p class="name">Баланс: <span>'+user.account+'</span></p>\n' +
                    '    <input class="input_send" id="accountNumberUser"  type="text" placeholder="Введите номер счета">\n' +
                    '    <input class="input_send" id="money"  type="text" placeholder="Введите сумму, которую хотите переслать">\n' +
                    '    <button class="button_send" onclick="sendMoney()" type="submit"> Отправить </button>';
                document.getElementById("mySidenav").innerHTML = html;
            }
        };
        xhttp.open("GET", "http://localhost:8080/inset", true);
        xhttp.send();
    }

    function saveToBucket(id) {
        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var product = JSON.parse(this.responseText);
                var name = product.name;
                var cost = product.cost;
                var description = product.description;
                var path = product.path;
                createBucket(id, name, cost, description, path);
            }
        };

        xhttp.open("GET", "http://localhost:8080/product/"+id, true);
        xhttp.send();
        location.reload()
    }

        function createBucket(id, name, cost, description, path) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("POST", "http://localhost:8080/createBucket");
            xmlhttp.setRequestHeader("Content-Type", "application/json");
            xmlhttp.send(JSON.stringify({id: id, name: name, cost: cost, description: description, path: path}));

        }

    function sendMoney() {
        var xhttp = new XMLHttpRequest();
        var number = document.getElementById("accountNumberUser").value;
        var money = document.getElementById("money").value;
        var username = document.getElementById("usernameAuth").innerHTML;
        xhttp.open("PUT", "http://localhost:8081/bank/send", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.send(JSON.stringify({accountNumberUser: number, money: money, username:username}));
        infoAboutUser();
        }

        function getCountAndSum() {
            if (true){
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var products = JSON.parse(this.responseText);
                        var html = '';
                        var summa = 0;
                        var countProd = 0;
                        for (var i = 0; i < products.length; i++) {
                            var bucket = products[i];
                            console.log(bucket);
                            countProd = countProd+bucket.count;
                            summa =summa + (bucket.cost*bucket.count);
                        }
//<a>1 товар- 533.00 $</a>
                        html = '<a>' + countProd + ' товар(ов)- ' + summa.toFixed(2) + ' р</a>'

                        document.getElementById("countAndSum").innerHTML = html;
                    }
                };
                xhttp.open("GET", "http://localhost:8080/bucket/findAll", true);
                xhttp.send();
            }
        }

        getCountAndSum();


    // infoAboutUser();
    loadProducts();
</script>
</body>
</html>