<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Вход </title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="colorbox.css">
    <link href="fonts.css" rel="stylesheet" type="text/css">
</head>

<body>


<div class="wrap">
    <!-- top panel -->
    <div class="navbar navbar-inverse navbar-fixed-top topbar">
        <div class="container">

            <!-- cart -->
            <div id="cart">
                <div class="heading">
                    <a href="/shopping-cart" title="Корзина">
                           <span id="cart-total">
                               <i class="fa fa-shopping-cart fa-lg"></i>&nbsp;
                               <span class="hidden-xs"> 0 товаров - 0.00р</span>
                           </span>
                    </a>
                </div>
            </div>


            <!-- menu -->
            <div id="menu" class="menu-container">

                <div class="collapse menu-collapse" id="menu-mobile">
                    <ul class="nav nav-pills">
                        <li><a href="">Овощи и фрукты<i class="fa fa-angle-down"></i></a>
                            <div>
                                <div class="arrow"></div>
                                <ul>
                                    <li><a href="">Овощи</a></li>
                                    <li><a href="">Фрукты</a></li>
                                    <li><a href="">Грибы</a></li>
                                    <li><a href="">Зелень</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="">Хлеб<i class="fa fa-angle-down"></i></a>
                            <div>
                                <div class="arrow"></div>
                                <ul>
                                    <li><a href="">Хлеб и сдоба</a></li>
                                    <li><a href="">Кондитерские изделия</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="">Молочные продукты</a></li>

                        <li><a href="">Бакалея<i class="fa fa-angle-down"></i></a></li>
                        <li><a href="">Мясо, рыба</a></li>
                        <li><a href="">Напитки</a></li>

                    </ul>
                </div>
            </div>
            <div class="divider hidden-sm hidden-xs"></div>

        </div>
    </div>
    <!-- //top panel -->

    <!-- header -->
    <div class="header">
        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="social hidden-xs">
                        <a title="Instagram">
                            <span class="fa fa-instagram"></span>
                        </a>
                        <a title="Twitter">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a title="Vkontakte">
                            <span class="fa fa-vk"></span>
                        </a>
                        <a title="YouTube">
                            <span class="fa fa-youtube"></span>
                        </a>
                    </div>

                    <div class="header-left">
                        <div id="address">
                            <p><strong>График работы:</strong></p>
                            <p>пн-пт <strong>10:00 - 18:00</strong>, сб-вс <strong>9:00 - 19:00</strong></p>
                        </div>
                        <div id="phone"><span>(29)</span> 234-34-34</div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div id="logo">
                        <a href="/"><img src="shop.jpg" width="150" height="150"></a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div id="search">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" placeholder="Search" value="">
                            <span class="input-group-btn">
                                    <button onclick="searchByName()" class="btn btn-default button-search" type="button">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </span>
                        </div>
                    </div>

                    <div class="header-right">
                        <div id="welcome">
                            Добро пожаловать, покупатель, ты можешь <a href="/login">войти</a> или <a href="/registration">зарегистрироваться</a>.
                        </div>

                        <div class="links">
                            <a id="link-cart" href="/shopping-cart">
                                <i class="fa fa-shopping-cart"></i> Корзина
                            </a><br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //header -->



<!--вход-->
    <div id="container" class="content">
        <div class="container">
    <div id="content">

        <ol class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/login">Вход</a></li>
        </ol>

        <div class="page-header">
            <h1>Вход</h1>
        </div>

        <div class="login-content row">

    <div class="right col-sm-6">
    <form th:action="@{/login}" method="POST" name="signupform">
        <div class="content">
            <p class="help-block"><strong>У меня есть аккаунт</strong></p>

            <div class="form-group">
                <label for="username">Логин</label>
                <input type="text" class="form-control"  id="username" name="username" placeholder="Введите логин..." value="" oninput="return userNameValidation(this.value)" required>
            </div>

            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль..." value="" oninput="return passwordValidation(this.value)" required>
            </div>
            <div class="form-group">
                <a href="/registration" class="pull-right btn btn-link btn-xs">Зарегистрироваться</a>

                <input type="submit" id="join-btn" value="Войти" class="btn btn-warning">
            </div>
        </div>
    </form>
    </div>
        </div>
    </div>
        </div>
    </div>

    <!-- footer -->
    <div id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="column">
                        <h4>Информация</h4>
                        <ul>
                            <li><a href="about-us.html">О нас</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 text-right">
                    <div id="powered">
                        <a href="http://conceptlogic.org/">Create by Vika</a>
                        <br>
                        Shop © 2020
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //footer -->
</div>





<!--<div class="signupSection">-->
<!--    <div class="info">-->
<!--        <h2>Добро пожаловать</h2>-->
<!--        <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>-->
<!--        <p>Наш магазин тебя ждет</p>-->


<!--&lt;!&ndash;        <div class="form-group" th:if="${param.error}">&ndash;&gt;-->
<!--&lt;!&ndash;               Invalid username and password.&ndash;&gt;-->
<!--&lt;!&ndash;                 </div>&ndash;&gt;-->


<!--    </div>-->
<!--    <form th:action="@{/login}" method="POST" class="signupForm" name="signupform">-->
<!--        <h2>Авторизация</h2>-->
<!--        <ul class="noBullet">-->
<!--            <li>-->
<!--                <label for="username"></label>-->
<!--                <input type="text" class="inputFields" id="username" name="username" placeholder="Username" value="" oninput="return userNameValidation(this.value)" required/>-->
<!--            </li>-->
<!--            <li>-->
<!--                <label for="password"></label>-->
<!--                <input type="password" class="inputFields" id="password" name="password" placeholder="Password" value="" oninput="return passwordValidation(this.value)" required/>-->
<!--            </li>-->
<!--            <span class="text"> <a href="/registration">Зарегистрироваться</a></span>-->
<!--            <li id="center-btn">-->
<!--                <input type="submit" id="join-btn" name="Войти" alt="Войти" value="Войти">-->
<!--            </li>-->
<!--        </ul>-->
<!--    </form>-->
<!--</div>-->
<!--    <form th:action="@{/login}" method="post">-->


</body>
</html>