<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Регистрация </title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="colorbox.css">
    <link href="fonts.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="wrap">
    <!-- top panel -->
    <div class="navbar navbar-inverse navbar-fixed-top topbar">
        <div class="container">

            <!-- cart -->
            <div id="cart">
                <div class="heading">
                    <a href="/shopping-cart" title="Корзина">
                           <span id="cart-total">
                               <i class="fa fa-shopping-cart fa-lg"></i>&nbsp;
                               <span id="countAndSum" class="hidden-xs"> </span>
                           </span>
                    </a>
                </div>
            </div>
            <div class="divider"></div>
            <!-- menu -->
            <div id="menu" class="menu-container">

                <div class="collapse menu-collapse" id="menu-mobile">
                    <ul class="nav nav-pills">
                        <li><a href="">Завтраки</a></li>

                        <li><a href="">Обеды</a></li>
                        <li><a href="">Ужины</a></li>
                        <li><a href="">Десерты</a></li>

                    </ul>
                </div>
            </div>
            <div class="divider hidden-sm hidden-xs"></div>

        </div>
    </div>
    <!-- //top panel -->

    <!-- header -->
    <div class="header">
        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="social hidden-xs">
                        <a title="Instagram">
                            <span class="fa fa-instagram"></span>
                        </a>
                        <a title="Twitter">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a title="Vkontakte">
                            <span class="fa fa-vk"></span>
                        </a>
                        <a title="YouTube">
                            <span class="fa fa-youtube"></span>
                        </a>
                    </div>

                    <div class="header-left">
                        <div id="address">
                            <p><strong>График работы:</strong></p>
                            <p>пн-пт <strong>10:00 - 18:00</strong>, сб-вс <strong>9:00 - 19:00</strong></p>
                        </div>
                        <div id="phone"><span>(29)</span> 234-34-34</div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div id="logo">
                        <a href="/"><img src="shop.jpg" width="150" height="150"></a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div id="search">
                        <div class="input-group">
                            <input type="text" id="search_field" class="form-control" placeholder="Search" value="">
                            <span class="input-group-btn">
                                    <button onclick="searchByName()" class="btn btn-default button-search" type="submit">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </span>
                        </div>
                    </div>

                    <div class="header-right">
                        <div sec:authorize="!isAuthenticated()" id="welcome">
                            Добро пожаловать, покупатель, ты можешь <a href="/login">войти</a> или <a href="/registration">зарегистрироваться</a>.
                        </div>
                        <div sec:authorize="isAuthenticated()" id="poka">
                            Вы уже авторизированы. Нажмите <a th:href="@{/logout}">Выйти</a>, чтобы зайти с другого аккаунта.
                        </div>

                        <div class="links">
                            <a sec:authorize="isAuthenticated()" id="link-cart" href="/shopping-cart">
                                <i class="fa fa-shopping-cart"></i> Корзина
                            </a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //header -->



    <!--регистрация-->
    <div id="container" class="content">
        <div class="container">
            <div id="content">

                <ol class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/registartion">Регистрация</a></li>
                </ol>

                <div class="page-header">
                    <h1>Регистрация</h1>
                </div>

                <div class="login-content row">

                    <div class="right col-sm-6">
                        <form th:action="@{/login}" method="POST" name="signupform">
                            <div class="content">
                                <p class="help-block"><strong>Новый аккаунт</strong></p>

                                <div class="form-group">
                                    <label for="username">Логин</label>
                                    <input type="text" class="form-control"  id="username" name="username" placeholder="Введите логин..." value="" oninput="return userNameValidation(this.value)" required>
                                </div>

                                <div class="form-group">
                                    <label for="password">Пароль:</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль..." value="" oninput="return passwordValidation(this.value)" required>
                                </div>
                                <div class="form-group">
                                    <a href="/login" class="pull-right btn btn-link btn-xs">Войти</a>

                                    <input type="submit"  onclick="createUser()" id="join-btn" name="Регистрация" alt="Регистрация" value="Регистрация"class="btn btn-warning">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="column">
                        <h4>Информация</h4>
                        <ul>
                            <li><a href="\about-us">О нас</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 text-right">
                    <div id="powered">
                        <a>Create by Vika</a>
                        <br>
                        Shop © 2020
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //footer -->
</div>


<script>

    function createUser() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        xmlhttp.open("POST", "http://localhost:8081/registration");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify({username: username, password: password}));
    }

    function getCountAndSum() {
        if (true) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var products = JSON.parse(this.responseText);
                    var html = '';
                    var summa = 0;
                    var countProd = 0;
                    for (var i = 0; i < products.length; i++) {
                        var bucket = products[i];
                        console.log(bucket);
                        countProd = countProd + bucket.count;
                        summa = summa + (bucket.cost * bucket.count);
                    }
//<a>1 товар- 533.00 $</a>
                    html = '<a>' + countProd + ' товар(ов)- ' + summa.toFixed(2) + ' р</a>'

                    document.getElementById("countAndSum").innerHTML = html;
                }
            };
            xhttp.open("GET", "http://localhost:8080/bucket/findAll", true);
            xhttp.send();
        }
    }

    getCountAndSum();
</script>
</body>
</html>